body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f6fa;
}

/* NAVBAR */
.navbar {
    background: #1e3c72;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* HERO */
.hero {
    text-align: center;
    padding: 60px;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    color: white;
}

.btn,
.btn-primary {
    padding: 10px 20px;
    background: white;
    color: #1e3c72;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.product-card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

/* REGISTER */
.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

span {
    font-size: 12px;
    color: red;
}

button {
    padding: 10px;
    background: #1e3c72;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}